@using CourseManagementWebClientWebClient.Data;
@model List<String>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Syllabus Management</h2>
    <p>A Place For You To All Manage Documents.</p>
    @if (Model != null && Model.Contains(Role.SUPERADMIN.ToString()))
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="UserRole" asp-action="Index">UsersManager</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">RolesManager</a>
    }
    @if (Model != null &&( Model.Contains(Role.TEACHER.ToString()) || 
    Model.Contains(Role.STUDENT.ToString())))
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">All Course</a>
    }
</div>
